body {
    font-family: sans-serif;
}

div#form {
    background-color: #EEE;
    padding: 6px;
    width: 250px;
}

button {
    background-color: #CCC;
}

div#text_output {
    padding: 6px;
}

@media screen and (min-width: 750px) {
    div.row {
        display: flex;
        flex-direction: row;
        width: 100%
    }
}
